In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import Google_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-11-12 22:35:50,-54.8000,-68.3000,60.46,29,0,9.22
1,1,Port Lincoln,AU,2022-11-12 22:35:50,-34.7333,135.8667,62.74,73,58,22.24
2,2,Buraydah,SA,2022-11-12 22:35:51,26.3260,43.9750,68.45,52,2,10.13
3,3,Hambantota,LK,2022-11-12 22:35:51,6.1241,81.1185,77.04,84,100,4.23
4,4,Saint-Philippe,RE,2022-11-12 22:35:51,-21.3585,55.7679,71.19,74,0,4.38

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=Google_api_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hambantota,LK,2022-11-12 22:35:51,6.1241,81.1185,77.04,84,100,4.23
7,7,Dingle,PH,2022-11-12 22:35:52,10.9995,122.6711,78.28,91,65,6.80
8,8,Thinadhoo,MV,2022-11-12 22:35:52,0.5333,72.9333,81.23,78,94,16.71
10,10,Hithadhoo,MV,2022-11-12 22:35:53,-0.6000,73.0833,81.32,72,65,16.40
14,14,Acapulco,MX,2022-11-12 22:35:54,16.8634,-99.8901,85.82,70,0,4.61
15,15,Kapaa,US,2022-11-12 22:35:33,22.0752,-159.3190,82.38,79,100,25.32
16,16,Sapa,PH,2022-11-12 22:35:54,5.1544,120.3241,81.34,80,94,3.22
17,17,Kuching,MY,2022-11-12 22:35:54,1.5500,110.3333,77.22,94,40,0.00
20,20,Atuona,PF,2022-11-12 22:35:55,-9.8000,-139.0333,78.08,76,3,14.97
25,25,Doka,SD,2022-11-12 22:35:56,13.5167,35.7667,77.41,51,72,3.83

In [21]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3   Hambantota      LK     77.04   6.1241   81.1185
7       Dingle      PH     78.28  10.9995  122.6711
8    Thinadhoo      MV     81.23   0.5333   72.9333
10   Hithadhoo      MV     81.32  -0.6000   73.0833
14    Acapulco      MX     85.82  16.8634  -99.8901
15       Kapaa      US     82.38  22.0752 -159.3190
16        Sapa      PH     81.34   5.1544  120.3241
17     Kuching      MY     77.22   1.5500  110.3333
20      Atuona      PF     78.08  -9.8000 -139.0333
25        Doka      SD     77.41  13.5167   35.7667

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_api_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hambantota,LK,77.04,6.1241,81.1185,Bungalow 63
7,Dingle,PH,78.28,10.9995,122.6711,SEGAYA PROPERTY
8,Thinadhoo,MV,81.23,0.5333,72.9333,
10,Hithadhoo,MV,81.32,-0.6000,73.0833,Scoop Guest House
14,Acapulco,MX,85.82,16.8634,-99.8901,HS Hotsson Smart Acapulco
...,...,...,...,...,...,...
554,Mahibadhoo,MV,81.30,3.7833,72.9667,Omadhoo Inn
559,Cozumel,MX,82.08,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
562,Boundiali,CI,76.28,9.5217,-6.4869,Hotel Paysan Boundiali
571,Uribia,CO,81.28,11.7139,-72.2660,Hotel Uribia
575,Alamos,MX,78.96,27.0167,-108.9333,Luz del Sol

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))