# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import Google_api_key

# Configure gmaps
gmaps.configure(api_key=Google_api_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Lincoln,AU,-34.7333,135.8667,55.06,71,100,18.84,overcast clouds
1,1,Port Alfred,ZA,-33.5906,26.8910,58.17,90,3,10.80,clear sky
2,2,Sainte-Maxime,FR,43.3000,6.6333,59.00,69,21,15.52,few clouds
3,3,Rezekne,LV,56.5000,27.3167,36.50,94,53,4.47,broken clouds
4,4,Hilo,US,19.7297,-155.0900,81.10,68,75,11.50,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature criteria? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature criteria? "))

What is the minimum temperature criteria? 65
What is the maximum temperature criteria? 85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Hilo,US,19.7297,-155.0900,81.10,68,75,11.50,broken clouds
5,5,Gizo,SB,-8.1030,156.8419,83.52,72,100,6.38,overcast clouds
6,6,Cockburn Town,TC,21.4612,-71.1419,80.56,74,40,0.00,scattered clouds
7,7,Rikitea,PF,-23.1203,-134.9692,74.84,88,90,17.78,overcast clouds
9,9,Chuy,UY,-33.6971,-53.4616,67.12,95,100,12.91,moderate rain
13,13,Kloulklubed,PW,7.0419,134.2556,75.70,78,100,13.89,overcast clouds
16,16,Vallenar,CL,-28.5708,-70.7581,75.96,24,0,7.09,clear sky
17,17,Yenagoa,NG,4.9247,6.2642,75.94,92,53,4.90,broken clouds
18,18,Salalah,OM,17.0151,54.0924,78.89,73,0,4.61,clear sky
19,19,Fort-De-France,MQ,14.6089,-61.0733,80.55,83,20,9.22,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Hilo,US,19.7297,-155.0900,81.10,68,75,11.50,broken clouds
5,5,Gizo,SB,-8.1030,156.8419,83.52,72,100,6.38,overcast clouds
6,6,Cockburn Town,TC,21.4612,-71.1419,80.56,74,40,0.00,scattered clouds
7,7,Rikitea,PF,-23.1203,-134.9692,74.84,88,90,17.78,overcast clouds
9,9,Chuy,UY,-33.6971,-53.4616,67.12,95,100,12.91,moderate rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
4             Hilo      US     81.10       broken clouds  19.7297 -155.0900
5             Gizo      SB     83.52     overcast clouds  -8.1030  156.8419
6    Cockburn Town      TC     80.56    scattered clouds  21.4612  -71.1419
7          Rikitea      PF     74.84     overcast clouds -23.1203 -134.9692
9             Chuy      UY     67.12       moderate rain -33.6971  -53.4616
13     Kloulklubed      PW     75.70     overcast clouds   7.0419  134.2556
16        Vallenar      CL     75.96           clear sky -28.5708  -70.7581
17         Yenagoa      NG     75.94       broken clouds   4.9247    6.2642
18         Salalah      OM     78.89           clear sky  17.0151   54.0924
19  Fort-De-France      MQ     80.55          few clouds  14.6089  -61.0733

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hilo,US,81.10,broken clouds,19.7297,-155.0900,
5,Gizo,SB,83.52,overcast clouds,-8.1030,156.8419,
6,Cockburn Town,TC,80.56,scattered clouds,21.4612,-71.1419,
7,Rikitea,PF,74.84,overcast clouds,-23.1203,-134.9692,
9,Chuy,UY,67.12,moderate rain,-33.6971,-53.4616,
13,Kloulklubed,PW,75.70,overcast clouds,7.0419,134.2556,
16,Vallenar,CL,75.96,clear sky,-28.5708,-70.7581,
17,Yenagoa,NG,75.94,broken clouds,4.9247,6.2642,
18,Salalah,OM,78.89,clear sky,17.0151,54.0924,
19,Fort-De-France,MQ,80.55,few clouds,14.6089,-61.0733,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_api_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hilo,US,81.10,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Gizo,SB,83.52,overcast clouds,-8.1030,156.8419,Imagination Island
6,Cockburn Town,TC,80.56,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
7,Rikitea,PF,74.84,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Chuy,UY,67.12,moderate rain,-33.6971,-53.4616,Nuevo Hotel Plaza
13,Kloulklubed,PW,75.70,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
16,Vallenar,CL,75.96,clear sky,-28.5708,-70.7581,Humacao Bed & Breakfast
17,Yenagoa,NG,75.94,broken clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
18,Salalah,OM,78.89,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
19,Fort-De-France,MQ,80.55,few clouds,14.6089,-61.0733,Patio Gallieni

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
hotel_df = hotel_df.dropna(how = 'any')

# Display sample data
clean_hotel_df = hotel_df
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hilo,US,81.10,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Gizo,SB,83.52,overcast clouds,-8.1030,156.8419,Imagination Island
6,Cockburn Town,TC,80.56,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
7,Rikitea,PF,74.84,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Chuy,UY,67.12,moderate rain,-33.6971,-53.4616,Nuevo Hotel Plaza
13,Kloulklubed,PW,75.70,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
16,Vallenar,CL,75.96,clear sky,-28.5708,-70.7581,Humacao Bed & Breakfast
17,Yenagoa,NG,75.94,broken clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
18,Salalah,OM,78.89,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
19,Fort-De-France,MQ,80.55,few clouds,14.6089,-61.0733,Patio Gallieni

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Imagination Island</dd>\n<dt>City</dt><dd>Gizo</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Osprey Beach Hotel</dd>\n<dt>City</dt><dd>Cockburn Town</dd>\n<dt>Country</dt><dd>TC</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuevo Hotel Plaza</dd>\n<dt>City</dt><dd>Chuy</dd>\n<dt>Country</dt><dd>UY</dd>\n<dt>Current Weather</dt><dd>moderate rain and 67.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Storyboard Beach Resort</dd>\n<dt>City</dt><dd>Kloulklubed</dd>\n<dt>Country</dt><dd>PW</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Humacao Bed & Breakfast</dd>\n<dt>City</dt><dd>Vallenar</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aridolf Resort Wellness and Spa</dd>\n<dt>City</dt><dd>Yenagoa</dd>\n<dt>Country</dt><dd>NG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Patio Gallieni</dd>\n<dt>City</dt><dd>Fort-De-France</dd>\n<dt>Country</dt><dd>MQ</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.55 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
4   19.7297 -155.0900
5   -8.1030  156.8419
6   21.4612  -71.1419
7  -23.1203 -134.9692
9  -33.6971  -53.4616
13   7.0419  134.2556
16 -28.5708  -70.7581
17   4.9247    6.2642
18  17.0151   54.0924
19  14.6089  -61.0733

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer

fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))